@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Oswald;
  
}

body{
    background-color: lightslategray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contents{
    background-color: white;
    width:fit-content;
    min-height: fit-content;
    padding: 2vh;
    border-radius: 10px;
}

input[type="text"], 
input[type="email"], input[type="password"],
input[type="date"], input[type="tel"],
input[type="ad"],
form textarea[type="description"] {
    width: 20em;
    padding: 0 .5vh;
}
.btns{
    padding: 0 2vh;
    color: white;
}
#submit-btn{
    background-color:green;
}

#reset-btn{
    background-color: red;
}